/*.footer__links li a {
    color: #fff;
}

.footer__links li a:hover {
    color: var(--heading-color);
}

.footer__box .logo img,
.footer__box .logo h2,
.footer__box .logo p{
    background: transparent !important;
}

.footer {
    padding: 50px 0px;
    background: transparent !important;
}

.footer-container {
    background-color: #202325;
}

.footer__wrapper {
    background-color: #202325;
}*/

.footer .container {
    background: #1b1e29;
}

.footer__links, 
.footer__links li,
.footer__links a {
    color: #fff;
    background: #1b1e29;
    margin-top: 10px;
}

.footer__links a:hover {
    color: var(--heading-color);
}

.footer .logo__img img,
.logo__img h2,
.logo__img p {
    background: #1b1e29;
}

.footer {
    padding: 50px 0px;
    background: #1b1e29;
    margin-bottom: -50px;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    background: #1b1e29;
    column-gap: 2rem;
}

.footer__box {
    width: 40%;
    background: #1b1e29;
}

.footer .logo {
    display: flex;
    align-items: center;
    background: #1b1e29;
}

.footer .logo__img img {
    max-width: 100px;
    height: auto;
    margin-right: 10px;
}

.footer .logo__img {
    background: #1b1e29;
}

.footer__box p {
    color: var(--primary-color);
    line-height: 28px;
    margin-top: 20px;
    margin-left: 10px;
}

.footer__title {
    font-size: 1.2rem;
    color: var(--heading-color);
    margin-bottom: 20px;
}

.footer__links li {
    line-height: 28px;
}

.footer__links li a {
    cursor: pointer;
    font-weight: 600;
}

.copyright {
    margin-top: 40px;
    text-align: center;
    color: grey;
    font-size: 0.9rem;
    margin-bottom: -20px;
}
