

.pricing__top {
    text-align: center;
}

.pricing__top h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.pricing__top p {
    font-size: 1.1rem;
    color: var(--primary-color);
    line-height: 28px;
    margin-bottom: 50px;
    text-align: center;
}

.pricing__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 2rem;
}

.pricing__item {
    box-shadow: var(--heading-color) 0px 5px 15px 0px;
    border-radius: 10px;
    width: 33%;
    background: var(--bg-gradient);
}

.pricing__card-top {
    padding: 30px;
    border-bottom: 1px solid var(--bg-gradient);
    text-align: center;
    border-radius: 5px 5px 0px 0px;
}

.pricing__card-top h2 {
    font-size: 1.5rem;
    margin-bottom: 0.9rem;
    background: transparent;
}

.pricing__card-top .pricing {
    font-size: 1.4rem;
}

.pricing__card-top .pricing span {
    font-size: 1rem;
    color: var(--heading-color);
    background: transparent;
}

.pricing__item .services {
    padding: 30px;
    margin-top: 10px;
}

.pricing__item .services ul li {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
    color: var(--heading-color);
    line-height: 28px;
    margin-top: 5px;
}

.pricing__item .services ul li i span {
    font-size: 0.7rem;
}

.services {
    text-align: center;

}

.services button {
    margin-top: 30px;
    margin-bottom: 20px;
}

.pricing__item-02 .pricing__card-top {
    background: var(--primary-color);
    border-radius: 5px 5px 0px 0px;
}

.pricing__item-02 .pricing__card-top h2 {
    color: black;
    font-weight: 600;
}

.pricing__item-02 .pricing__card-top h2 span {
    color: black;
}   

.pricing__item-02 .services ul li span i {
    color: var(--primary-color);
}

.pricing__top .highlights {
    color: var(--heading-color);
}

.high__v2 {
    color: #fff;
}
