/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

:root {
  --primary-color: #fff;
  --heading-color: teal;
  --bg-gradient: linear-gradient(
    90deg,
    rgba(103, 101, 240, 1) 27%,
    rgba(141, 141, 235, 1) 85%
  );
  --font-name: "Archivo Black", sans-serif;

  /* 
        #9785f2
        #b5a9f3
        #d3cef2
        #d7337a
    */
}

/* ======= reset default browser styles ======== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(0, 0, 0);
}

body {
  font-family: var(--font-name);
}

section {
  padding: 50px 0px;
}

h1,h2,h3 {
  font-weight: 700;
  color: teal;
  text-transform: uppercase;
  text-shadow: 2px 1px 3px #fff;
  margin: 0;
  font-family: var(--font-name);
}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  color: unset;
}

ul {
  list-style: none;
}

/* ======= reusable class ======== */
.container {
  width: 1140px;
  padding: 0px 15px;
  margin: auto;
}

.section__title {
  color: var(--heading-color);
  font-weight: 700;
}

.logo__img img {
  height: 40px;
  width: 100px;
  margin-right: 10px;
}

.nav__item {
  color: var(--primary-color)
}

.mobile_menu {
  color: #fff;
}

.register__btn {
  color: var(--heading-color)
}

::selection {
  background-color: teal;
  color: #fff;
}
